<div class="story-body">
  <p>Over the past 30 years, filings of patents have exploded, according to a <a href='https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/OTTBDX'>study</a> by a team of Swiss economists.</p>
  <p>But over that time, there has been a big shift in where those filings have come from.</p>
  <p>By aggregating patent filing data from nine sources, which they claim provides 81% coverage of all patent filings over the period from 1980 to 2012, the authors have developed a geocoded database that, when unpacked, shows two unmistakeable trends:</p>
  <ul>
        <li>Patent filings have increased massively, by more than fourfold, since 1980.</li>
        <li>China and South Korea have become huge generators of patents, in addition to older research economies like North America, Western Europe, and Japan.</li>
      </ul>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src="images/cat.jpg"></p>
  <p>Phasellus lacus lectus, semper ut mollis vitae, fermentum ac massa. Duis pulvinar, lorem non interdum bibendum, sapien tellus volutpat massa, mollis sodales lectus ligula eget ex. Donec hendrerit imperdiet commodo. Fusce ut leo sed purus posuere tempor ut bibendum lectus. Aenean sem purus, euismod ut fringilla ultricies, convallis a nulla.</p> --}}
</div>
<br>