<div class="story-body">
    <div class="chart-section">
        <p class="chart-title">Japan's Share of Worldwide Patents Has Withered</p>
        <p class="chart-subhead">China and South Korea have eaten into Japan's dominance.</p>
        <div class="chart-row">
          <div class="chart" id="chart-2"></div>
        </div>
        <p class="chart-source">Source: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/OTTBDX</p>
      </div>
    <p>But across the Pacific, the dominance of China and South Korea has been matched, in some degree, by the growth of the tech economy in the US.</p>
    <br>
</div>

<script src="scripts/chart-02.js"></script>
