<div class="story-body">
    <div class="chart-section">
        <p class="chart-title">California's Share of US Patents is Growing</p>
        <p class="chart-subhead">Tech has boosted Washington state's share as well</p>
        <div class="chart-row">
          <div class="chart" id="chart-4"></div>
        </div>
        <p class="chart-source">Source: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/OTTBDX</p>
      </div>
</div>

<script src="scripts/chart-04.js"></script>
