<div class="story-body">
    <div class="chart-section">
        <p class="chart-title">Most of the World's Patent Growth Comes from East Asia</p>
        <p class="chart-subhead">China and South Korea have seen explosions in patent filings</p>
        <div class="chart-row">
          <div class="chart" id="chart-1"></div>
        </div>
        <p class="chart-source">Source: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/OTTBDX</p>
      </div>
    <p>However, while these countries' filings have grown from almost nothing, they don't represent a growth in East Asia's clout, taken altogether.</p>
    <br>
</div>

<script src="scripts/chart-01.js"></script>
