<div class="story-body">
    <div class="chart-section">
        <p class="chart-title">Patent Growth Has Been Equally Robust in the US</p>
        <p class="chart-subhead">California has an increasingly dominant presence</p>
        <div class="chart-row">
          <div class="chart" id="chart-3"></div>
        </div>
        <p class="chart-source">Source: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/OTTBDX</p>
      </div>
    <p>And just as in Asia, California's tech economy (along with Washington's) has been generating a larger share of patents compared to other regions nationwide.</p>
    <br>
</div>

<script src="scripts/chart-03.js"></script>
